    <div id="footerwrap">
        <footer id="footer" class="pagewidth clearfix">		
            <div class="footer-widgets clearfix">
                <div class="col4-1 first">
                    <div id="themify-feature-posts-3" class="widget feature-posts">
                        <h4 class="widgettitle">最新分享</h4>
                        <ul class="feature-posts-list">
                            <%newList.forEach(function(info, k){%>
                            <%if (k < 2){%>
                            <li>
                                <a href="/acticle/<%= info.id%>">
                                    <img src="<%= config.staticUrl(info.thumbnail)%>" alt="<%= info.title%>" class="post-img" width="50px" />
                                </a>
                                <a href="/acticle/<%= info.id%>" class="feature-posts-title"><%= info.title%></a>
                            </li>
                            <%}%>
                            <%})%>
                        </ul>
                    </div>			
                </div>
                <div class="col4-1">
                    <div id="text-6" class="widget widget_text">
                        <h4 class="widgettitle">联系我们</h4>			
                        <div class="textwidget">    精美图片分享网站，追格旨在打造基于个性化美图分享系统，让游览有惊喜，让生活更美好。</div>
                    </div>
                </div>
                <div class="col4-1">
                    <div class="widget widget_tag_cloud">
                        <h4 class="widgettitle">标签</h4>
                        <div class="tagcloud">
                            <%tagCloud.forEach(function(tag){%>
                            <a href="/tag/<%= tag.name%>" title="<%= tag.count%>个话题" style="font-size: 9.1965811965812pt;"><%= tag.name%></a>
                            <%})%>
                        </div>
                    </div>			
                </div>
                <div class="col4-1">
                    <div id="multicollinks" class="widget widget_multicollinks">
                        <h4 class="widgettitle">友情链接</h4>
                        <ul>
                            <li class="ml_item">
                                <div class="col2-1">
                                    <a href="http://ss.catcat.club/" title="" target="_blank">猫猫SS</a>
                                    <a href="http://rhost.cn/" title="" target="_blank">Rhost</a>
                                </div>
                            </li>
                        </ul>
                    </div>			
                </div>
            </div>
            <!-- /.footer-widgets -->
            <p class="back-top"><a href="#header">&uarr;</a></p>		
            <div class="footer-text clearfix">
                <div class="two">Copyright © 2013-2014 catcat. All Rights Reserved. </div>  
            </div>
            <!-- /footer-text --> 
        </footer>
        <!-- /#footer -->
    </div>
	<!-- /#footerwrap -->
    <script type="text/javascript" src="<%= config.staticUrl("/static/js/jquery.min.js")%>"></script>
    <script type="text/javascript" src="<%= config.staticUrl("/static/js/jquery.isotope.min.js")%>"></script>
    <script type="text/javascript" src="<%= config.staticUrl("/static/js/jquery-scrolltofixed-min.js")%>"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
    <script type="text/javascript">
    /* <![CDATA[ */
    var themifyScript = {"loadingImg":"","maxPages":"27","autoInfinite":null,"overlayTheme":"pp_default","baseUrl":"","isPrettyPermalink":"1","timeLineAjaxUrl":"","timeline_load_nonce":"68780a3be7","audioPlayer":""};
    /* ]]> */
    </script>
    <script type="text/javascript" src="<%= config.staticUrl("/static/js/themify.script.js")%>"></script>