            <aside id="sidebar">
                <div id="text-2" class="widget widget_text">
                    <h4 class="widgettitle">分享到</h4>			
                    
                </div>           
                <div id="rounded-tag-cloud" class="widget rounded_tag_cloud_widget">
                    <h4 class="widgettitle">专题热荐</h4>
                    <div class="rtc-div">
                        <%tagCloud.forEach(function(tag){%>
                        <a href="/tag/<%= tag.name%>"><%= tag.name%></a>
                        <%})%>
                    </div>
                </div>
                <div id="themify-feature-posts-2" class="widget feature-posts">
                    <h4 class="widgettitle">最新分享</h4>
                    <ul class="feature-posts-list">
                        <%newList.forEach(function(info){%>                     
                        <li>
                            <a href="/acticle/<%= info.id%>">
                                <img src="<%= config.staticUrl(info.thumbnail)%>" class="post-img" width="50px"  />
                            </a>
                            <a href="/acticle/<%= info.id%>" class="feature-posts-title"><%= info.title%></a>
                        </li>
                        <%})%>
                    </ul>
                </div>
            </aside>
            <!-- /#sidebar -->