<!DOCTYPE html>
<html>
  <head>
    <%include inc/header-meta.html%>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <%include inc/header.html%>
      
      <%include inc/left.html%>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <%include inc/content-nav.html%>

        <!-- Main content -->
        <section class="content">
          <!-- Info boxes -->
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-files-o"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">文档</span>
                  <span class="info-box-number"><%= articleNum%></span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div><!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-tags"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">分类</span>
                  <span class="info-box-number"><%= taxonomyNum%></span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div><!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-shopping-cart"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">营业额</span>
                  <span class="info-box-number">0</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div><!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">用户</span>
                  <span class="info-box-number"><%= userNum%></span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div><!-- /.col -->
          </div><!-- /.row -->

          <!-- Main row -->
          <div class="row">

          </div><!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <%include inc/footer.html%>

      <%include inc/right.html%>

    </div><!-- ./wrapper -->

    <%include inc/footer-script.html%>
  </body>
</html>
