<!DOCTYPE html>
<html>
  <head>
    <%include inc/header-meta.html%>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <%include inc/header.html%>
      
      <%include inc/left.html%>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <%include inc/content-nav.html%>

        <!-- Main content -->
        <section class="content">
          <!-- Main row -->
          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">分类 添加</h3>
                </div><!-- /.box-header -->
                <form role="form" method="post">
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="form-group">
                          <label for="name">名字</label>
                          <input type="text" class="form-control" id="name" name="name" value="" placeholder="名字">
                        </div>
                        <div class="form-group">
                          <label for="slug">slug</label>
                          <input type="text" class="form-control" id="slug" name="slug" value="" placeholder="slug">
                        </div>
                        <div class="form-group">
                          <label>简介</label>
                          <textarea class="form-control" rows="3" name="description" placeholder="简介"></textarea>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <label>类别</label>
                            <select class="form-control select2" name="type">
                              <option value="1" selected="selected">分类</option>
                              <option value="2">tag</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>父节点</label>
                            <select class="form-control select2" name="parent">
                              <option value="">&nbsp;</option>
                              <%cates.forEach(function(item){%>
                              <option value="<%= item.id%>" ><%= item.name%></option>
                              <%})%>
                            </select>
                        </div>                        
                      </div>
                    </div>
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div><!-- /.box -->
            </div>
          </div><!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <%include inc/footer.html%>

      <%include inc/right.html%>

    </div><!-- ./wrapper -->

    <%include inc/footer-script.html%>
  </body>
</html>
