<!DOCTYPE html>
<html>
  <head>
    <%include inc/header-meta.html%>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <%include inc/header.html%>
      
      <%include inc/left.html%>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Dashboard
            <small>Version 2.0</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">分类</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Main row -->
          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">分类 修改</h3>
                </div><!-- /.box-header -->
                <form role="form" method="post">
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="form-group">
                          <label for="name">名字</label>
                          <input type="text" class="form-control" id="name" name="name" value="<%= info.name%>" placeholder="名字">
                        </div>
                        <div class="form-group">
                          <label for="slug">slug</label>
                          <input type="text" class="form-control" id="slug" name="slug" value="<%= info.slug%>" placeholder="slug">
                        </div>
                        <div class="form-group">
                          <label>简介</label>
                          <textarea class="form-control" rows="3" name="description" placeholder="简介"><%= info.description%></textarea>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <label>类别</label>
                            <select class="form-control select2" name="type">
                              <option value="1" <%if(info.type == 1){%>selected="selected"<%}%>>分类</option>
                              <option value="2" <%if(info.type == 2){%>selected="selected"<%}%>>tag</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>父节点</label>
                            <select class="form-control select2" name="parent">
                              <option value="">&nbsp;</option>
                              <%cates.forEach(function(item){%>
                              <option value="<%= item.id%>" <%if(item.id == info.parent){%>selected="selected"<%}%>><%= item.name%></option>
                              <%})%>
                            </select>
                        </div>                        
                      </div>
                    </div>
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    <input type="hidden" name="id" value="<%= info.id%>">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div><!-- /.box -->
            </div>
          </div><!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <%include inc/footer.html%>

      <%include inc/right.html%>

    </div><!-- ./wrapper -->

    <%include inc/footer-script.html%>
  </body>
</html>
