<!DOCTYPE html>
<html>
  <head>
    <%include inc/header-meta.html%>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <%include inc/header.html%>
      
      <%include inc/left.html%>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <%include inc/content-nav.html%>

        <!-- Main content -->
        <section class="content">
          <!-- Main row -->
          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">用户 修改</h3>
                </div><!-- /.box-header -->
                <form role="form" method="post">
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="form-group">
                          <label for="name">名字</label>
                          <input type="text" class="form-control" id="name" name="name" value="<%= info.name%>" placeholder="名字">
                        </div>
                        <div class="form-group">
                          <label for="slug">密码</label>
                          <input type="password" class="form-control" id="pwd" name="pwd" value="" placeholder="密码">
                        </div>                       
                      </div>
                    </div>
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    <input type="hidden" name="id" value="<%= info.id%>">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div><!-- /.box -->
            </div>
          </div><!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <%include inc/footer.html%>

      <%include inc/right.html%>

    </div><!-- ./wrapper -->

    <%include inc/footer-script.html%>
  </body>
</html>
