<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>猫女</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
<link rel="stylesheet" href="/static/css/media-queries.css" type="text/css" />

</head>
<body class="single sidebar1">
<div id="pagewrap">
    <%include inc/header.html%>
    
	<div id="body" class="clearfix">
        <!-- layout-container -->
        <div id="layout" class="pagewidth clearfix">
            <!-- content -->
            <div id="content" class="list-post">
                <article class="post clearfix">
                    <div class="post-inner">
                        <!-- Title, post icon, post date -->
                        <span class="post-icon"></span>
                        <time datetime="2015-11-15" class="post-date" pubdate>
                            <span>十一 15, 2015</span>
                        </time>

                        <h1 class="post-title">
                            <a href=""><%= info.title%></a>
                        </h1>
                        <!-- / Title, post icon, post date -->
                        <div class="post-content">
                            <%- info.content%>
                            <p class="post-meta">
                                <span class="post-category"> 1,107人喜欢</span>
                                <span class="post-comment">
                                    <a href="" title="">No comments</a>
                                </span>
                            </p>
                        </div>
                        <!-- /.post-content -->

                        <!-- post-nav -->
                        <div class="post-nav clearfix"> 
                            <span class="prev">
                                <a href="" rel="prev">
                                    <span class="arrow">&laquo;</span> 相对纶V领长袖纯色长款毛呢大衣
                                </a>
                            </span>
                            <span class="next">
                                <a href="" rel="next">
                                <span class="arrow">»</span> 相对纶千鸟格翻领长袖呢子大衣</a>
                            </span>                            
                        </div>
                        <!-- /post-nav -->
                        
                        <div id="comments" class="commentwrap">
                            <div id="respond">
                                <h3 id="reply-title">
                                    留个评论
                                </h3>
                                <p class="must-log-in">要发表评论，您必须先<a href="">登录</a>。</p>
                            </div><!-- #respond -->
                        </div>
                        <!-- /.commentwrap -->
                    </div>
                    <!-- /.post-inner -->
                </article>
                <!-- /.post -->
            </div>
            <!-- /content -->
            
            <%include inc/sidebar.html%>
            
        </div>
        <!-- /layout-container -->
    </div>
	<!-- /body -->
	
    <%include inc/footer.html%>
    
</div>
<!-- /#pagewrap -->
</body>
</html>
