<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>猫女</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
<link rel="stylesheet" href="/static/css/media-queries.css" type="text/css" />

</head>
<body class="page sidebar1">
<div id="pagewrap">
    <%include inc/header.html%>
    
	<div id="body" class="clearfix">
        <!-- layout-container -->
        <div id="layout" class="pagewidth clearfix">
            <!-- content -->
            <div id="content" class="clearfix">
                <div class="page-inner clearfix">
                    <!-- page-title -->
                    <h1 class="page-title">关于追格</h1>
                    <!-- /page-title -->
                    <div class="page-content">
                        <p><span style="color: #5c5c5c;">一直以来，我们想打造这样一个产品，她简单，干净，聪明，熟悉每个用户的脾气和喜好。她知道你是<a href="http://www.zhuige.com"><span style="color: #5c5c5c;">森女</span></a>，崇尚简单。她知道你是<a href="http://www.zhuige.com"><span style="color: #5c5c5c;">萝莉</span></a>，追求可爱。她知道你是OL，要正式优雅……心情不好了，她会展示给你一个可爱萌物，让你开怀一笑。有约会了，她会为你准备一套完美穿搭，让你幸福如花。</span></p>
                        <p><span style="color: #5c5c5c;">在这，发现惊喜。在这，和美物不期而遇。一样的购物不一样的体验，追格网从文艺小清新开始。</span></p>
                        <p><span style="color: #c0c0c0;">—————————————————————————————</span></p>
                        <p><span style="color: #5c5c5c;"><strong>联系我们：</strong></span></p>
                        <p><strong>关注我们：</strong></p>
                        <p>夜深人静，无聊却不想睡觉，想找个人聊天，QQ上的头像却是灰灰的一片。</p>
                        <p>你，是不是有些孤单？</p>
                        <p>来，到微信和追格网做个朋友吧！</p>
                        <p>陪你聊天讲笑话，教你穿衣打扮成，快来吧，追格网一直等着你哦！</p>
                    </div>
                    <!-- /.post-content -->
                </div><!-- /.post-inner -->
            </div>
            <!-- /content -->
    
            <aside id="sidebar">
                <div id="text-2" class="widget widget_text">
                    <h4 class="widgettitle">分享到</h4>			
                    <div class="textwidget"><!-- Baidu Button BEGIN -->
                        <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
                            <a class="bds_qzone"></a>
                            <a class="bds_tsina"></a>
                            <a class="bds_sqq"></a>
                            <span class="bds_more"></span>
                            <a class="shareCount"></a>
                        </div>
                        <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=470336" ></script>
                        <script type="text/javascript" id="bdshell_js"></script>
                        <script type="text/javascript">
                        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
                        </script><!-- Baidu Button END -->
                    </div>
                </div>
                <div id="rounded-tag-cloud" class="widget rounded_tag_cloud_widget">
                    <h4 class="widgettitle">追格热荐</h4>
                    <div class="rtc-div">
                        <a href='http://www.zhuige.com/tag/souline' class='tag-link-124' title='21 个话题' style='font-size: 10pt;'>Souline</a>
                        <a href='http://www.zhuige.com/tag/t%e6%81%a4' class='tag-link-99' title='27 个话题' style='font-size: 10pt;'>T恤</a>
                        <a href='http://www.zhuige.com/tag/%e4%b9%94%e4%b8%a2%e4%b8%a2' class='tag-link-149' title='15 个话题' style='font-size: 10pt;'>乔丢丢</a>
                        <a href='http://www.zhuige.com/tag/%e5%88%9d%e8%af%ad' class='tag-link-39' title='39 个话题' style='font-size: 10pt;'>初语</a>
                        <a href='http://www.zhuige.com/tag/%e5%a4%8d%e5%8f%a4' class='tag-link-31' title='103 个话题' style='font-size: 10pt;'>复古</a>
                        <a href='http://www.zhuige.com/tag/%e5%ae%bf%e6%9c%ac' class='tag-link-21' title='10 个话题' style='font-size: 10pt;'>宿本</a>
                        <a href='http://www.zhuige.com/tag/%e5%b0%8f%e6%b8%85%e6%96%b0' class='tag-link-50' title='18 个话题' style='font-size: 10pt;'>小清新</a>
                        <a href='http://www.zhuige.com/tag/%e5%b0%ba%e6%b8%a1' class='tag-link-114' title='20 个话题' style='font-size: 10pt;'>尺渡</a>
                        <a href='http://www.zhuige.com/tag/%e5%b8%83%e5%b8%83%e5%b0%8f%e9%95%87' class='tag-link-86' title='11 个话题' style='font-size: 10pt;'>布布小镇</a>
                        <a href='http://www.zhuige.com/tag/%e6%96%87%e8%89%ba' class='tag-link-40' title='93 个话题' style='font-size: 10pt;'>文艺</a>
                        <a href='http://www.zhuige.com/tag/%e6%96%87%e8%89%ba%e8%8c%83' class='tag-link-64' title='28 个话题' style='font-size: 10pt;'>文艺范</a>
                        <a href='http://www.zhuige.com/tag/%e6%97%a5%e7%b3%bb' class='tag-link-35' title='30 个话题' style='font-size: 10pt;'>日系</a>
                        <a href='http://www.zhuige.com/tag/%e6%9c%89%e8%80%b3' class='tag-link-48' title='9 个话题' style='font-size: 10pt;'>有耳</a>
                        <a href='http://www.zhuige.com/tag/%e6%a3%89%e9%ba%bb' class='tag-link-63' title='34 个话题' style='font-size: 10pt;'>棉麻</a>
                        <a href='http://www.zhuige.com/tag/%e6%a3%ae%e5%a5%b3' class='tag-link-51' title='13 个话题' style='font-size: 10pt;'>森女</a>
                        <a href='http://www.zhuige.com/tag/%e6%a3%ae%e5%a5%b3%e7%b3%bb' class='tag-link-20' title='28 个话题' style='font-size: 10pt;'>森女系</a>
                        <a href='http://www.zhuige.com/tag/%e6%a3%ae%e5%ae%bf' class='tag-link-108' title='19 个话题' style='font-size: 10pt;'>森宿</a>
                        <a href='http://www.zhuige.com/tag/%e6%a3%ae%e6%9e%97%e7%b3%bb' class='tag-link-17' title='14 个话题' style='font-size: 10pt;'>森林系</a>
                        <a href='http://www.zhuige.com/tag/%e6%ad%a5%e5%b1%a5%e4%b8%8d%e5%81%9c' class='tag-link-177' title='13 个话题' style='font-size: 10pt;'>步履不停</a>
                        <a href='http://www.zhuige.com/tag/%e6%af%9b%e8%a1%a3' class='tag-link-172' title='18 个话题' style='font-size: 10pt;'>毛衣</a>
                        <a href='http://www.zhuige.com/tag/%e6%b0%91%e6%97%8f%e9%a3%8e' class='tag-link-18' title='11 个话题' style='font-size: 10pt;'>民族风</a>
                        <a href='http://www.zhuige.com/tag/%e6%b8%85%e6%96%b0' class='tag-link-110' title='29 个话题' style='font-size: 10pt;'>清新</a>
                        <a href='http://www.zhuige.com/tag/%e7%94%9c%e7%be%8e' class='tag-link-29' title='17 个话题' style='font-size: 10pt;'>甜美</a>
                        <a href='http://www.zhuige.com/tag/%e7%a9%ba%e6%b0%94%e7%8c%ab' class='tag-link-85' title='14 个话题' style='font-size: 10pt;'>空气猫</a>
                        <a href='http://www.zhuige.com/tag/%e7%b4%a0%e7%bc%95' class='tag-link-65' title='31 个话题' style='font-size: 10pt;'>素缕</a>
                        <a href='http://www.zhuige.com/tag/%e7%be%8a%e6%af%9b%e4%b8%8e%e8%8a%b1' class='tag-link-156' title='19 个话题' style='font-size: 10pt;'>羊毛与花</a>
                        <a href='http://www.zhuige.com/tag/%e8%8c%b5%e6%9b%bc' class='tag-link-10' title='19 个话题' style='font-size: 10pt;'>茵曼</a>
                        <a href='http://www.zhuige.com/tag/%e8%a1%ac%e8%a1%ab' class='tag-link-11' title='39 个话题' style='font-size: 10pt;'>衬衫</a>
                        <a href='http://www.zhuige.com/tag/%e8%bf%9e%e8%a1%a3%e8%a3%99' class='tag-link-19' title='85 个话题' style='font-size: 10pt;'>连衣裙</a>
                        <a href='http://www.zhuige.com/tag/%e9%9f%a9%e7%89%88' class='tag-link-22' title='15 个话题' style='font-size: 10pt;'>韩版</a>
                    </div>
                </div>
                <div id="themify-feature-posts-2" class="widget feature-posts">
                    <h4 class="widgettitle">最新潮品</h4>
                    <ul class="feature-posts-list">
                        <li>
                            <a href="http://www.zhuige.com/manshiji/yifu/4948.html"><img src='http://www.zhuige.com/wp-content/themes/zhui/themify/img.php?src=http://www.zhuige.com/wp-content/uploads/2015/11/QQ20151115-2.png&amp;w=50&amp;h=&amp;a=c' alt='相对纶千鸟格翻领长袖呢子大衣' class='post-img '  width='50'  /></a>
                            <a href="http://www.zhuige.com/manshiji/yifu/4948.html" class="feature-posts-title">相对纶千鸟格翻领长袖呢子大衣</a>
                        </li>
                        <li><a href="http://www.zhuige.com/manshiji/yifu/4943.html"><img src='http://www.zhuige.com/wp-content/themes/zhui/themify/img.php?src=http://www.zhuige.com/wp-content/uploads/2015/11/QQ20151115-1.png&amp;w=50&amp;h=&amp;a=c' alt='相对纶V领长袖纯色长款毛呢大衣' class='post-img '  width='50'  /></a><a href="http://www.zhuige.com/manshiji/yifu/4943.html" class="feature-posts-title">相对纶V领长袖纯色长款毛呢大衣</a>
                        </li>
                        <li><a href="http://www.zhuige.com/manshiji/yifu/4460.html"><img src='http://www.zhuige.com/wp-content/themes/zhui/themify/img.php?src=http://www.zhuige.com/wp-content/uploads/2014/09/QQ20140928-1.png&amp;w=50&amp;h=&amp;a=c' alt='蜜搭秋冬复古气质千鸟格毛呢半身长裙' class='post-img '  width='50'  /></a><a href="http://www.zhuige.com/manshiji/yifu/4460.html" class="feature-posts-title">蜜搭秋冬复古气质千鸟格毛呢半身长裙</a> <br /></li>
                        <li><a href="http://www.zhuige.com/manshiji/yifu/4487.html"><img src='http://www.zhuige.com/wp-content/themes/zhui/themify/img.php?src=http://www.zhuige.com/wp-content/uploads/2014/10/QQ20141012-1.png&amp;w=50&amp;h=&amp;a=c' alt='尺渡秋装日系学院风连帽羊毛开衫' class='post-img '  width='50'  /></a><a href="http://www.zhuige.com/manshiji/yifu/4487.html" class="feature-posts-title">尺渡秋装日系学院风连帽羊毛开衫</a> <br /></li>
                        <li><a href="http://www.zhuige.com/manshiji/yifu/4611.html"><img src='http://www.zhuige.com/wp-content/themes/zhui/themify/img.php?src=http://www.zhuige.com/wp-content/uploads/2014/11/QQ20141113-31.png&amp;w=50&amp;h=&amp;a=c' alt='OPT新款复古文艺范小清新V领毛衣' class='post-img '  width='50'  /></a><a href="http://www.zhuige.com/manshiji/yifu/4611.html" class="feature-posts-title">OPT新款复古文艺范小清新V领毛衣</a> <br /></li>
                    </ul>
                </div>
            </aside>
            <!-- /#sidebar -->
        </div>
        <!-- /layout-container -->
    </div>
	<!-- /body -->
	
    <%include inc/footer.html%>
    
</div>
<!-- /#pagewrap -->
</body>
</html>
