<!doctype html>
<html lang="zh-CN">
<head>
<%include inc/header-meta.html%>
</head>
<body class="page sidebar1 grid2">
<div id="pagewrap">
    <%include inc/header.html%>
    
	<div id="body" class="clearfix">
        <!-- layout-container -->
        <div id="layout" class="pagewidth clearfix">
            <!-- content -->
            <div id="content" class="clearfix">
                <div class="page-inner clearfix">
                    <!-- page-title -->
                    <h1 class="page-title"></h1>
                    <!-- /page-title -->
                    <div class="page-content">
                        <p>在这，发现惊喜。在这，和美物不期而遇。</p>
                    </div>
                    <!-- /.page-content -->
                </div>

                <!-- category-section -->
                <div class="category-section clearfix">
                    <h3 class="category-section-title"><a href="/portray/<%= taxonomy.slug%>" title="<%= taxonomy.name%>"><%= taxonomy.name%></a></h3>
                    <!-- loops-wrapper -->
                    <div class="loops-wrapper infinite-scrolling">
                        <%list.forEach(function(info){%>
                        <article class="post clearfix">
                            <div class="post-inner">
                                <!-- Title, post icon, post date -->
                                <span class="post-icon"></span>
                                <time datetime="2014-06-15" class="post-date" pubdate>
                                    <span><%- moment(info.creattime).format("YYYY-MM-DD")%></span>
                                </time>

                                <h1 class="post-title"><a href="/acticle/<%= info.id%>"><%= info.title%></a></h1>
                                <!-- / Title, post icon, post date -->

                                <figure class="post-image ">
                                    <a href="/acticle/<%= info.id%>"><img src="<%= config.staticUrl(info.thumbnail)%>" alt="<%- moment(info.creattime).format("YYYY-MM-DD")%>" /></a>
                                </figure>

                                <div class="post-content">
                                    <p class="post-meta">
                                        <span class="post-category"> 1 likes</span>
                                        <span class="post-comment">
                                            <a href="javascript;" title="<%= info.title%> 上的评论">No comments</a>	
                                        </span>
                                    </p>
                                </div>
                                <!-- /.post-content -->
                            </div>
                            <!-- /.post-inner -->
                        </article>
                        <!-- /.post -->
                        <%})%>
                    </div>
                    <!-- /loops-wrapper -->
                </div>
                <!-- /category-section -->
                <div class="pagenav clearfix">
                    <%- links%>
                </div>
            </div>
            <!-- /content -->
                    
            <%include inc/sidebar.html%>
            
        </div>
        <!-- /layout-container -->
    </div>
	<!-- /body -->
	
    <%include inc/footer.html%>
    
</div>
<!-- /#pagewrap -->
</body>
</html>
