<!doctype html>
<html lang="zh-CN">
<head>
<%include inc/header-meta.html%>
</head>
<body class="single sidebar1">
<div id="pagewrap">
    <%include inc/header.html%>
    
	<div id="body" class="clearfix">
        <!-- layout-container -->
        <div id="layout" class="pagewidth clearfix">
            <!-- content -->
            <div id="content" class="list-post">
                <article class="post clearfix">
                    <div class="post-inner">
                        <!-- Title, post icon, post date -->
                        <span class="post-icon"></span>
                        <time datetime="2015-11-15" class="post-date" pubdate>
                            <span>十一 15, 2015</span>
                        </time>

                        <h1 class="post-title">
                            <a href="<%= config.siteUrl("acticle/" + info.id)%>"><%= info.title%></a>
                        </h1>
                        <!-- / Title, post icon, post date -->
                        <div class="post-content">
                            <%if(metas.gallery){%>
                            <div class="gallery gallery-columns-6 gallery-size-thumbnail">
                                <%eval(metas.gallery).forEach(function(gallery){%>
                                <dl class="gallery-item">
                                    <dt class="gallery-icon">
                                        <a href="" title="">
                                            <img src="<%= config.staticUrl(gallery)%>" class="attachment-thumbnail" alt="">
                                        </a>
                                    </dt>
                                </dl>
                                <%})%>
                                <br style="clear: both">
                            </div>
                            <%}%>
                            <p><%- info.content%></p>
                            <p class="post-meta">
                                <span class="post-category"> 1 likes</span>
                                <span class="post-comment">
                                    <a href="javascript;" title="<%= info.title%> 上的评论">No comments</a>	
                                </span>
                            </p>
                            <div class="post-tags rtc-div">
                                <%tags.forEach(function(item){%>
                                <a href="<%= config.siteUrl("tag/" + item.name)%>"><%= item.name%></a>
                                <%})%>
                            </div>
                        </div>
                        <!-- /.post-content -->

                        <!-- post-nav -->
                        <div class="post-nav clearfix">
                            <%if( ! think.isEmpty(neighbor.prev)){%>
                            <span class="prev">
                                <a href="<%= config.siteUrl("acticle/" + neighbor.prev.id)%>" rel="prev">
                                    <span class="arrow">&laquo;</span> <%= neighbor.prev.title%>
                                </a>
                            </span>
                            <%}%>
                            <%if( ! think.isEmpty(neighbor.next)){%>
                            <span class="next">
                                <a href="<%= config.siteUrl("acticle/" + neighbor.next.id)%>" rel="next">
                                    <span class="arrow">»</span> <%= neighbor.next.title%>
                                </a>
                            </span>
                            <%}%>
                        </div>
                        <!-- /post-nav -->

                        <div id="comments" class="commentwrap">
                            <!--
                            <div id="respond">
                                <h3 id="reply-title">
                                    留个评论
                                </h3>
                                <p class="must-log-in">要发表评论，您必须先<a href="">登录</a>。</p>
                            </div>--><!-- #respond -->
                        </div>
                        <!-- /.commentwrap -->
                    </div>
                    <!-- /.post-inner -->
                </article>
                <!-- /.post -->
            </div>
            <!-- /content -->
            
            <%include inc/sidebar.html%>
            
        </div>
        <!-- /layout-container -->
    </div>
	<!-- /body -->
	
    <%include inc/footer.html%>
    
</div>
<!-- /#pagewrap -->
</body>
</html>
