<!doctype html>
<html lang="zh-CN">
<head>
<%include inc/header-meta.html%>
</head>
<body class="home sidebar-none timeline">
<div id="pagewrap">
    <%include inc/header.html%>
    
    <div id="body" class="clearfix"> 
        <!-- layout -->
        <div id="layout" class="pagewidth clearfix">
            <!-- content -->
            <div id="content" class="clearfix">
                <!-- loops-wrapper -->
                <div class="loops-timeline infinite-scrolling">
                    <div class="timeline-nav-wrap">
                        <ul class="timeline-nav">
                            <%timeLine.years.forEach(function(year){%>
                            <li>
                                <a class="timeline-nav-year" href="#"><%= year%></a>
                                <ul class="timeline-nav-months">
                                    <%timeLine.months[year].forEach(function(month){%>
                                    <li>
                                        <a class="jump-month" data-jump="jump-<%= year%>-<%= month%>" data-year="<%= year%>" data-month="<%= month%>" href=""><%= month%>月</a>
                                    </li>
                                    <%})%>
                                </ul>
                                <!-- /timeline-nav-months -->
                            </li>
                            <%})%>
                        </ul>
                    </div>
                    <!-- /timeline-nav -->

                    <div class="timeline-wrap">
                        <div class="timeline-bar"></div><!-- /timeline-bar -->
                        <div class="timeline-start-dot"></div><!-- /timeline-start-dot -->
                        <div class="timeline-content">
                            <%timeLine.listTime.forEach(function(time){%>
                            <div id="timeline-set-2015-11" class="timeline-set-month">
                                <h3 id="set-<%= time%>" class="timeline-month">
                                    <a name="jump-<%= time%>" id="jump-<%= time%>" class="timeline-jump"><span><%= time%></span></a>
                                </h3>
                                <div class="set-month">
                                    <%list[time].forEach(function(info){%>
                                    <article class="post clearfix">
                                        <div class="post-inner clearfix">
                                            <!-- Title, post icon, post date -->
                                            <span class="post-icon"></span>
                                            <time datetime="2015-11-12" class="post-date" pubdate>
                                                <span><%- moment(info.creattime).format("YYYY-MM-DD")%></span>
                                            </time>

                                            <h1 class="post-title">
                                                <a href="/acticle/<%= info.id%>"><%= info.title%></a>
                                            </h1>
                                            <!-- / Title, post icon, post date -->
                                            <div class="post-content">
                                                <p style="text-align: left;">
                                                    <a href="/acticle/<%= info.id%>">
                                                        <img class="aligncenter" data-original="<%= config.staticUrl(info.thumbnail)%>" style="width:360px;"/>
                                                    </a>
                                                </p>
                                                <p class="post-meta">
                                                    <span class="post-category"> 1 likes</span>
                                                    <span class="post-comment">
                                                        <a href="javascript;" title="<%= info.title%> 上的评论">No comments</a>	
                                                    </span>
                                                </p>
                                            </div>
                                            <!-- /.post-content -->
                                            <div class="post-dot"></div><!-- /post-dot -->
                                            <div class="post-arrow"></div><!-- /post-arrow -->
                                        </div>
                                        <!-- /.post-inner -->
                                    </article>
                                    <!-- /.post -->
                                    <%})%>
                                </div>
                                <!-- /set-month -->
                            </div>
                            <!-- /timeline-set-month -->
                            <%})%>          
                        </div>
                        <!-- /timeline-content -->
                    </div>
                    <!-- /timeline-wrap -->
                </div>
                <!-- /loops-wrapper -->
                <div class="pagenav clearfix">
                    <%- links%>
                </div>
            </div>
            <!-- /#content -->
        </div>
        <!-- /#layout -->
    </div>
    <!-- /body -->
	
    <%include inc/footer.html%>
    
</div>
<!-- /#pagewrap -->
</body>
</html>
